# Ignore Python cache files and folders
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.venv/

# Ignore Streamlit configuration (optional)
.streamlit/config.toml

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
